# Ignorer les environnements virtuels
.venv/
venv/

# Ignorer les dossiers de packages
Lib/site-packages/
lib/python3.10/site-packages/

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc

# Ignorer les fichiers de configuration
.vscode/

# Ignorer d'autres répertoires ou fichiers inutiles 
bin/
lib/
